* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: blanchedalmond;
}

table {
    background-color: orange;
}

th,
td {
    border: 1px solid black;
    text-align: center;
}

#game_content {
    padding: 1px;
    text-align: center;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: olivedrab;
}

#typedStr {
    color: grey;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: brown;
}

.container a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}