body {
    background-color: blanchedalmond;
}
table {
    background-color: orange;
}

th,
td {
    border: 1px solid black;
    text-align: center;
}

main {
    margin: 0;
    padding: 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

main p{
    text-align: center;
    font-size: xx-large;
    border: 1px solid black;
}

#typedStr {
    color: grey;
}